<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">



<!--配置要扫描的包-->
    <!--开启扫描-->
    <context:component-scan base-package="cn.LysGroup.dao"/>
    <!--配置mybatis开始-->
    <!-- 加载数据库连接的资源文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--配置连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver.driver}"/>
        <property name="url" value="${url.url}"/>
        <property name="username" value="${username.username}"/>
        <property name="password" value="${password.password}"/>
    </bean>
    <!-- 配置SqlSession的工厂 -->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--扫描包，配置别名-->
        <property name="typeAliasesPackage" value="cn.LysGroup.domain"/>
    </bean>
    <!-- mapper 扫描器 ：用来产生dao接口的代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.LysGroup.dao"/>
    </bean>
    <!--配置mybatis结束-->
</beans>